.app {
  width: 100vw;
  height: 100vh;
  background: url('/new_background.png') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: calc(100vh - 5.2rem); /* Fine-tuned to prevent any overlap */
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.cl-avatarBox {
  height: 3rem;
  width: 3rem;
  border: #bab5b5 solid 1px;
  border-radius: 0%;
  transition: transform 0.3s ease;
  overflow: hidden;
  transform-origin: center;
}

.cl-avatarBox:hover {
  transform: scale(1.2);
}
