.exercise-table {
  width: 90%;
  margin-bottom: 20px;
  border-collapse: collapse;
  color: black;
  background-color: white;
  font-weight: 400;
}

.exercise-table th,
.exercise-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.exercise-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.delete-exercise-button {
  background-color: darkred;
  font-size: large;
  color: white;
}

.delete-exercise-button:hover {
  background-color: #dc3545;
  cursor: pointer;
}

.video-icon {
  color: #007bff; /* Icon color */
  font-size: 1.5em; /* Adjust the size as needed */
  cursor: pointer;
  transition: color 0.3s;

  /* Centering the icon */
  /* display: inline-block; */
  margin: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  vertical-align: middle;
}

.video-icon:hover {
  color: #0056b3; /* Darker color on hover */
}

/* Media query for small screens (mobile devices) */
@media (max-width: 768px) {
  .exercise-table {
    font-size: 0.9em; /* Reduce font size to make content fit better */
  }

  .exercise-table th,
  .exercise-table td {
    padding: 4px; /* Reduce padding to allow more content on screen */
  }

  .exercise-table th {
    font-size: 0.95em; /* Make header text slightly smaller */
  }

  .delete-exercise-button {
    font-size: medium; /* Adjust button size for mobile */
    padding: 4px 8px; /* Reduce button padding */
  }
}
