.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout-content {
  flex: 1;
  overflow: visible; /* Remove scrolling from here */
  padding-bottom: 8rem; /* Increased space for navigation */
  position: relative;
  z-index: 1;
}
